<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-12">
            <div class="pull-left">
            </div>
            <span class="pull-right">
                <a href="#"><button class="btn btn-primary m-1">Edit</button></a>
                <a href="#"><button class="btn btn-danger m-1">Delete</button></a>
            </span>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <p><span class="font-weight-bold">Email: </span></p>
        <p><span class="font-weight-bold">Phone: </span></p>
      </div>
    </div>
  </div>
</div>